@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

code, pre {
    font-family: 'Fira Code', monospace;
}

.tiny-text {
    font-size: smaller;
}
